body {
    background: url(./images/kv.jpg) no-repeat center;
    color:red;
    font-size: 12px;
}

.main{
    background: url(http://demos.hacks.mozilla.org/openweb/resources/images/logos/firefox-48.png),
        linear-gradient(to right, rgba(255, 255, 255, 0),  rgba(255, 255, 255, 1)),
        url(http://demos.hacks.mozilla.org/openweb/resources/images/patterns/flowers-pattern.jpg);
}


body .test{
    color:red;
    background: url('./images/lpl2018.jpg');

}

@keyframes go{

    from{
        opacity: 1;
        background: url('./images/lpl2018.jpg')
    }



    to{
        background: url(http://demos.hacks.mozilla.org/openweb/resources/images/logos/firefox-48.png)
    }
}

@media screen and (max-width: 1360px) {
    .common_w-header_uedc {
        background: url('http://demos.hacks.mozilla.org/openweb/resources/images/logos/firefox-48.png')
    }
  }
  
  @media screen and (min-width: 1440px) and (max-width: 1480px) {
    .common_w-header_uedc {
        background: url(http://demos.hacks.mozilla.org/openweb/resources/images/logos/firefox-48.png)
    }
  }
  

  