body {
    background: url('./images/h5_bg2.jpg') no-repeat center;
}

.main{
    background: url(http://demos.hacks.mozilla.org/openweb/resources/images/logos/firefox-48.png),
        linear-gradient(to right, rgba(255, 255, 255, 0),  rgba(255, 255, 255, 1)),
        url(http://demos.hacks.mozilla.org/openweb/resources/images/patterns/flowers-pattern.jpg);
}



@keyframes go{
    from{
        background: url('http://demos.hacks.mozilla.org/openweb/resources/images/logos/firefox-48.png')
    }


    to{
        background: url(http://demos.hacks.mozilla.org/openweb/resources/images/logos/firefox-48.png)
    }
}

@media screen and (max-width: 1360px) {
    .common_w-header_uedc {
        background: url('http://demos.hacks.mozilla.org/openweb/resources/images/logos/firefox-48.png')
    }
  }
  
  @media screen and (min-width: 1440px) and (max-width: 1480px) {
    .common_w-header_uedc {
        background: url(http://demos.hacks.mozilla.org/openweb/resources/images/logos/firefox-48.png)
    }
  }
  

  